<div class="b-example-divider"></div>

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <i class="fa-brands fa-Home fa-2x"></i>
            </a>
            <span class="text-muted">&copy; Portfolio Argentina Programa</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">

            <li class="ms-3"><a class="text-muted" href="{{infoPersonal.linkedin}}" target="_blank"><i
                        class="fa-brands fa-linkedin fa-2x"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="{{infoPersonal.github}}" target="_blank"><i
                        class="fa-brands fa-github fa-2x"></i></a></li>

            <li class="ms-3"><a class="text-muted"
                    href="https://drive.google.com/drive/folders/1TCJl9nO8oKTZcPKgzWCsAE-rOQBil3CZ?usp=sharing" target="_blank"><i
                        class="fa-brands fa-google-drive fa-2x" ></i></a></li>
            <li class="ms-3"><a class="text-muted" href="{{infoPersonal.twitter}}" target="_blank"><i
                        class="grey-text fab fa-twitter fa-2x"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="{{infoPersonal.facebook}}" target="_blank"><i
                        class="grey-text fab fa-facebook-square fa-2x"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="{{infoPersonal.instagram}}" target="_blank"><i
                        class="grey-text fab fa-instagram fa-2x"></i></a></li>

            <li class="ms-3"><a class="text-muted" (click)="mostrarModal()"><i
                        class="fa-brands fa-whatsapp fa-2x"></i></a></li>

        </ul>
    </footer>

</div>