<div id="proyectos" class="card mat-card">
    <div class="card-titles">
        <h2>Proyectos</h2><span><small class="text-muted">drag and drop</small></span>
        <div class="btn-edit" *ngIf="visible">
            <button type="button" class="btn-right btn btn-link " (click)="Nuevo()" data-bs-placement="top"
                title="Agregar"><i class="fas fa-plus-circle fa-2x"></i></button>
        </div>
    </div>

    <div class="achivements">
        <h3>{{listaProyectos.length}}</h3>
        <span class="project-title">
            <h3>Proyectos</h3>
        </span>
    </div>
    <div class="list-group" cdkDropList (cdkDropListDropped)="onDropped($event)">
        <div class="" *ngFor="let elemProy of listaProyectos" cdkDrag>

            <div class="row row-cols-2 g-0 shadow-sm p-3 mb-4 bg-body rounded">

                <div class="col-11  proyectos">
                    <div class="card-body">
                        <h4 class="card-title">{{elemProy.nombre}}</h4>
                        <p class="card-text">{{elemProy.descripcion}}</p>
                    </div>
                </div>

                <div class="col-1 row justify-content-end" *ngIf="visible">
                    <button type="button" class="btn btn-link" (click)="Editar(elemProy)" data-bs-placement="top"
                        title="Editar"><i class="fa fa-pen"></i></button>
                    <button type="button" class="btn btn-link" (click)="Delete(elemProy)" data-bs-placement="top"
                        title="Eliminar"><i class="fa-solid fa-trash-can"></i></button>
                </div>

            </div>

        </div>
    </div>