<div id="experiencia">
  <div class="card-titles">
    <h2>Experiencia</h2><span><small class="text-muted">drag and drop</small></span>
    <div class="btn-edit" *ngIf="visible">
      <button type="button" class="btn-right btn btn-link " (click)="Nuevo()" data-bs-placement="top" title="Agregar"><i
          class="fas fa-plus-circle fa-2x"></i></button>
    </div>
  </div>

  <div class="list-group" cdkDropList (cdkDropListDropped)="onDropped($event)">
    <div *ngFor="let elemExpLab of listaExpLaboral" class="card mb-3 border-1 rounded-3" cdkDrag>
      <div class="row g-0">
        <div class="col-md-2">
          <img src="{{elemExpLab.img_logo}}" class="img-fluid rounded-start mx-auto" alt="">
        </div>


        <div class="col-md-9 col-sm-10">
          <div class="card-body">
            <h5 class="card-title">{{elemExpLab.puesto}}</h5>
            <p class="card-text">{{elemExpLab.empresa}}</p>
            <p class="card-text"><small class="text-muted">{{elemExpLab.fecha_inicio}} -
                {{elemExpLab.fecha_fin}}</small></p>
          </div>
        </div>
        <div class="col-md-1 col-sm-2 row justify-content-end" *ngIf="visible">
          <button type="button" class="btn btn-link" (click)="Editar(elemExpLab)" data-bs-placement="top"
            title="Editar"><i class="fa fa-pen"></i></button>
          <button type="button" class="btn btn-link" (click)="Delete(elemExpLab)" data-bs-placement="top"
            title="Eliminar"><i class="fa-solid fa-trash-can"></i></button>
        </div>

      </div>
    </div>

  </div>

</div>