<section class="d-flex h-100 text-center text-white bg-dark">

  <div class="cover-container d-flex w-100  p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Interes</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <!-- <a class="btn btn-link" aria-current="page" routerLink="/Home">Volver</a> -->
          <button type="button" class="btn btn-outline-light" routerLink="/Home">Volver</button>
        </nav>
      </div>
    </header>

    <article class="px-3">
      <h1>Cover your page.</h1>
      <p class="lead">

        Tras años de experiencia, he tomado la decisión de reorientar mi carrera profesional con el ánimo de continuar aprendiendo y, también, aportar toda mi experiencia adquirida. Considero que el cambio es un signo de capacidad de superación y, por ello, creo que siempre sería capaz de aportar valor en la empresa en la que me encuentre.

        Mi objetivo principal es desarrollarme profesionalmente y evolucionar en mi sector, de modo que busco oportunidades que me permitan hacerlo, al tiempo que trataré de alinearme completamente con los objetivos de la empresa.
        
        Como recién graduado, me encantaría poder entrar a formar parte de una empresa en la que poder aplicar todos mis conocimientos y, al mismo tiempo, que me permita desarrollarme profesionalmente.

        Gracias a mi formación especializada, considero que puedo aportar valor y seguir desarrollándome profesionalmente en una compañía que coincida con mis valores y expectativas.
    
        Como persona organizada y con una gran motivación, soy capaz de adaptarme a cualquier circunstancia y dar siempre lo mejor de mí en cualquier proyecto, al mismo tiempo que me esfuerzo por trabajar en equipo y fomentar valores como los del compañerismo.


        Graduado en arquitectura con un Máster en diseño de interiores y enfocado a en la arquitectura orientada a servicios. Busco trabajar en Cortizo S.L. para aportary desarrollar mis conocimientos y aptitudes en relación con el ahorro energético y el diseño sostenible, adquiridas durante los últimos años, en un ambiente de innovación y crecimiento.

        Técnico superior en desarrollo de aplicaciones y plataformas con amplios conocimientos en back-end, desarrollados a través de proyectos propios. Busco desarrollar mi carrera, ayudando a TechSoft Solutions, contribuyendo con mis habilidades en C#, ASP.NET y Azure para lograr diseños finales que satisfagan las necesidades y preferencias de los clientes.
        
        Cover is a one-page template for building simple and beautiful home pages. Download, edit the
        text, and add your own fullscreen background photo to make it your own.</p>
      
    </article>

   
  </div>



</section>