<section class="d-flex h-100 text-center text-white bg-dark">

  <div class="cover-container d-flex w-100  p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <!-- <h3 class="float-md-start mb-0">Interes</h3> -->
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <!-- <a class="btn btn-link" aria-current="page" routerLink="/Home">Volver</a> -->
          <button type="button" class="btn btn-outline-light" routerLink="/Home">Volver</button>
        </nav>
      </div>
    </header>

    <article class="px-3">
      <h1>Sobre mi.</h1>
      <p class="lead fs-4">

        Luego de años de experiencia y aprendizaje en la profesion de Arquitectura (graduado universitario), he tomado la
        decisión de reorientar mi vida profesional a la rama de la programación, con la intensión de continuar
        aprendiendo y aportar mi punto de vista adquirido por aquella profesión.
        <br>
        <br>
        Considero que el cambio adoptado es un reflejo de mi capacidad de progreso y de ampliar las fronteras del conocimiento. Mi objetivo principal es desarrollarme profesionalmente y evolucionar en el sector IT, tanto en la rama de la programación como en la rama del Testing. Estoy seguro que seré capaz de aportar valor en la empresa en la que me encuentre.
        <br>
        <br>
        Como programador que se encuentra en las etapas iniciales de formación, me encantaría poder incorporarme a una
        empresa, en la que poder aplicar todos mis conocimientos y, al mismo tiempo, que me permita avanzar y
        desarrollarme profesionalmente.
        Como persona organizada y con una gran motivación en esta nueva etapa personal, soy capaz de adaptarme a cualquier desafío y dar
        siempre lo mejor en cualquier proyecto.
      </p>

    </article>
    <br>

    <!-- <button type="button" class="btn btn-link" title="Curriculum">
      <a href="../../../assets/imagenes/CV Nicolini.pdf" download="CV Nicolini Alejandro" target="_blank">
      <i class="fa-solid fa-file-pdf fa-2x"></i>
    </a>
    </button> -->

    <p>Curriculum:
    <p>
      <a href="../../../assets/imagenes/CV Nicolini.pdf" download="CV Nicolini Alejandro" target="_blank" title="Curriculum">
        <i class="fa-solid fa-file-pdf fa-3x"></i>
      </a>


  </div>



</section>