<body class="d-flex h-100 text-center text-white bg-dark">

  <div class="cover-container d-flex w-100  p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Interes</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="btn btn-link" aria-current="page" routerLink="/Home">Volver</a>
          <button type="button" class="btn btn-outline-light" routerLink="/Home">Volver</button>
        </nav>
      </div>
    </header>

    <article class="px-3">
      <h1>Cover your page.</h1>
      <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the
        text, and add your own fullscreen background photo to make it your own.</p>
      
    </article>

   
  </div>



</body>