<div class="container col-md-6">
    <div class="row">
        <h1>Bienvenido</h1>
    </div>
    <div class="col-md-12">
        <hr>
    </div>

    <div class="row" *ngIf="loading">
        <div class="col-md-12">
            <div class="spinner-border text-info float-right" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>


    <!-- <form (ngSubmit)="login(persona)" id="formulario"> -->
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="">Nombre de Usuario</label>
                <input [(ngModel)]="persona.usuario" name="usuario" type="text" class="form-control"
                    placeholder="Nombre de Usuario" required>
            </div>

            <div class="form-group">
                <label for="">Contraseña</label>
                <input [(ngModel)]="persona.password" name="password" type="password" class="form-control"
                    placeholder="max 10 caracteres alfanuméricos" required  maxlength="10">
            </div>

            <button (click)="login(persona)" class="btn btn-primary">Ingresar</button>
            <button (click)="Cancelar()" class="btn btn-warning">Continuar como invitado</button>
            <!-- <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control" [(ngModel)]="persona.usuario"
                    [ngModelOptions]="{standalone: true}" placeholder="Nombre de Usuario" required>
            </div>
        </div> -->
            <!-- <div class="row">
            <div class="col-md-12">
                <input type="password" class="form-control" [(ngModel)]="persona.password" minlength="6" maxlength="15"
                    [ngModelOptions]="{standalone: true}" placeholder="Contraseña" required>
            </div>
        </div> -->

            <!--  <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success">Ingresar</button>
                </div>
            </div> -->

            <div class="row" *ngIf="errorinicio">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                        <strong>Error!</strong> Usuario o contraseña incorrectos. Puede continuar como invitado.
                    </div>
                </div>
            </div>

        </form>

    </div>

    <div class="col-md-12">
        <hr>
    </div>

    <div class="container col-md-10">
        <div class="card w-75">
            <div class="card-header">Nota para los PROFESORES de Arg Programa </div>

            <div class="card-body">
                <div class="card-title">Datos de Ingreso para poder editar la APP</div>
                <div>
                    <span class="card-subtitle mb-2 text-muted">Nombre de Usuario: </span> <span
                        class="card-text">Argentina
                        Programa</span>
                </div>
                <div>
                    <span class="card-subtitle mb-2 text-muted">Contraseña: </span>
                    <span class="card-text">123456</span>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- <form (ngSubmit)="login(persona)" id="formulario">
    <div class="row">
        <div class="col-md-12">
            <input type="text" class="form-control" [(ngModel)]="persona.usuario"
                [ngModelOptions]="{standalone: true}" placeholder="Nombre de Usuario" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="password" class="form-control" [(ngModel)]="persona.password" minlength="6" maxlength="15"
                [ngModelOptions]="{standalone: true}" placeholder="Contraseña" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">Ingresar</button>
        </div>
    </div>

    <div class="row" *ngIf="errorinicio">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                <strong>Error!</strong> Usuario o contraseña incorrectos.
            </div>
        </div>
        <label class="float-right"> Usuario o password incorrecto </label>
    </div>

    <button (click)="Cancelar()" class="btn btn-link">Continuar como invitado</button>

    <div class="row">
        <div class="col-md-12">
            <label class="float-rigth">¿No tienes una cuenta?</label>
            <button type="button" class="btn btn-link" (click)="crearCuenta()">Registrate</button>
        </div>
    </div>

</form> -->