<app-navbar></app-navbar>

<div class="container col-md-6">
    <div class="row">
        <h1>Bienvenido</h1>
    </div>
    <div class="col-md-12">
        <hr>
    </div>

    <div class="row" *ngIf="loading">
        <div class="col-md-12">
            <div class="spinner-border text-info float-right" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

            <div class="form-group">
                <label for="nombreUsuario">Nombre de Usuario</label>
                <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control"
                    [(ngModel)]="nombreUsuario" required>
            </div>

            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password"
                    required>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" [disabled]="!f.valid" type="submit">
                    <i class="fas fa-sign-in-alt"></i> Iniciar Sesión</button>
                <button (click)="Cancelar()" class="btn btn-warning">Continuar como invitado</button>
            </div>


            <div class="row" *ngIf="errorinicio">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                        <strong>Error!</strong> Usuario o contraseña incorrectos. Puede continuar como invitado.
                    </div>
                </div>
            </div>

        </form>

    </div>

    <div class="col-md-12">
        <hr>
    </div>

    <div class="container col-md-10">
        <div class="card w-75">
            <div class="card-header">Nota para los PROFESORES de Arg Programa </div>

            <div class="card-body">
                <div class="card-title">Datos de Ingreso para poder editar la APP</div>
                <div>
                    <span class="card-subtitle mb-2 text-muted">Nombre de Usuario: </span> <span
                        class="card-text">Argentina
                        Programa</span>
                </div>
                <div>
                    <span class="card-subtitle mb-2 text-muted">Contraseña: </span>
                    <span class="card-text">123456</span>
                </div>
            </div>
        </div>
    </div>



</div>




<!-- <div class="container d-flex justify-content-center">
    <div class="container d-flex justify-content-center">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs">

                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/login">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/registro">Crear Cuenta</a>
                    </li>

                </ul>
            </div>
            <div class="card-body">
                <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                    <div class="form-group">
                        <label for="nombreUsuario">Nombre de Usuario</label>
                        <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control"
                            [(ngModel)]="nombreUsuario" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password"
                            required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                            <i class="fas fa-sign-in-alt"></i> Iniciar Sesión</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->